@import './sass/variables';

body {
  margin: 0;
  background: $oc-gray-8;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  font-size: 15px;
  background-color: $oc-gray-7;
  border: 1px solid #ccc;
  box-sizing: 0 2px 2px rgba(black, 0.2);
  flex-direction: row;
  text-align: center;
  align-items: center;
  color: #fff;

  & .logo {
    & .brand {
      color: $pale-green-color;
      text-decoration: none;
    }
  }

  & .nav-wrapper {
    .navigation,
    .navigation a,
    .navigation a:hover,
    .navigation a:focus {
      color: $pale-green-color;
      padding: 5px 20px;
      text-decoration: none;
    }
  }
}

.activeClass {
  border-bottom: 1px solid red;
}
